# Security Warning: Keep the secret key used in production secret!
SECRET_KEY=your-django-secret-key-here

# Security Warning: Don't run with debug turned on in production!
DEBUG=True

# Database Configuration
# Local SQLite: sqlite:///db.sqlite3
# Docker Postgres: postgres://postgres:postgres@db:5432/fintech_db
DATABASE_URL=sqlite:///db.sqlite3
